<div class='container mt-3' >


<div claas='row'>

  <div class='card'>
    <div class='card-header bg-info'>
      Product Form
    </div>
    <div class='card-body'>
      <form>
        <div class='col-8 col-md-8'>
          <label for="">Id</label>
          <input type="text" class='form-control' name="id" [(ngModel)]="product.id" >
        </div>

        <div class='col-8 col-md-8'>
            <label for="">Name</label>
            <input type="text" class='form-control' name="name" [(ngModel)]="product.name" >
        </div>

        <div class='col-8 col-md-8'>
            <label for="">Price</label>
            <input type="text" class='form-control' name="price" [(ngModel)]="product.price">
        </div>
        <div class='col-8 col-md-8 mt-2 text-center'>
            <button class="btn btn-primary" (click)='handleForm($event)'>Save</button>
        </div>

      </form>
      <hr/>
      <div class='table table-striped'>
        <tr class='text-center bg-danger'>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let prod of products">
          <td>{{prod.id}}</td>
          <td>{{prod.name}}</td>
          <td>{{prod.price}}</td>
        </tr>
      </div>

    </div>
  

  </div>

</div>

  


</div>