<div class='container mt-3'>

  <div>
   
        <div>
          <button class='btn btn-primary' (click)='toggle()'>+</button>
        </div>


        <div class='card text-center' *ngIf="show">
            <div class='card-header bg-primary'>
              Counter APP
            </div>
      
            <div class='card-body'>
              <app-counter btnLabel='+10' (totalCount)='getTotal(10)' ></app-counter>
              <app-counter btnLabel='+20' (totalCount)='getTotal(20)' ></app-counter>
              <app-counter btnLabel='-5' (totalCount)='getTotal(-5)' ></app-counter>
              <app-counter btnLabel='-10' (totalCount)='getTotal(-10)' ></app-counter>
            </div>
      
            <div class='card-footer text-center warning'>
                Total Count: <span class='badge badge-danger'>{{total}}</span>
            </div>
      
          </div>
        </div>

</div>