<div class='alert bg-info'>
<span *ngFor="let n of stars">
  <i class='fa fa-star'></i>
</span> &mdash; <span>{{review.author}}</span>
  <hr/>
  <p>Stars: {{review.body}}</p>
  <hr/>
  <button class='btn btn-primary' (click)="togleForm()"  *ngIf="showBtn"><i class='fa fa-plus'></i></button>
  <div class='card' *ngIf="showForm">
    <div class='card-header bg-primary'>Review Form</div>
    <div class='card-body'>

    
      <form [formGroup]="reviewForm">
        <div class="form-group">
          <label>Stars</label>
          <select class='form-control' formControlName="stars">
            <option *ngFor="let n of [1,2,3,4,5]">{{n}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Author</label>
           <input type="text" class="form-control" formControlName="author">
          <div class='text-danger'>
             {{errors['author']}}
          </div>
          
        </div>

        <div class="form-group">
            <label>Body</label>
           <textarea class='form-control' formControlName="body"></textarea>
           <div class='text-danger'>
            {{errors['body']}}
           </div>
        </div>
        <button class='btn btn-primary'>Submit</button>
        <button class='btn btn-dark' (click)='togleForm()'>Cancel</button>

      </form>

    </div>
    <pre>
      Is InValid: {{reviewForm.get('author').invalid}}
      All Errors: {{reviewForm.get('author').value}}
    </pre>
    <!-- <pre>
      Is Pristine: {{reviewForm.pristine}}
      Is Dirty: {{reviewForm.dirty}}

      Is touched: {{reviewForm.touched}}
      Is un-touched: {{reviewForm.untouched}}

      Is Valid: {{reviewForm.valid}}

      {{reviewForm.value | json}}

    </pre> -->
  </div>

</div>