

$my-color:red;

.small-circle{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color:$my-color
}


.meduium-circle{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color:$my-color;
}

.big-circle{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color:$my-color;
}